<section  class="about-section my-5 white-bg-color shadow" >
    <div class="container ">
      <h2 class="section-title">About Me</h2>
      <p class="about-description">
        Hi, my name is <strong>Donia Ahmed Abozeid</strong>, and I’m a passionate <strong>Full-Stack Developer</strong> eager to create innovative and efficient solutions. This project is part of my journey to enhance my skills, practice new concepts, and challenge myself with real-world tasks.
      </p>
      <p class="about-description">
        My expertise spans both <strong>Frontend</strong> and <strong>Backend</strong> development. On the frontend, I work with technologies like <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>JavaScript</strong>, <strong>TypeScript</strong>, <strong>Bootstrap</strong>, <strong>jQuery</strong>, and <strong>Angular</strong>. On the backend, I specialize in <strong>C#</strong>, <strong>ASP.NET Core</strong>, <strong>Entity Framework</strong>, <strong>LINQ</strong>, and <strong>SQL Server</strong>.
      </p>
      <p class="about-description">
        I also have experience using <strong>Git</strong> and <strong>GitHub</strong> for version control, ensuring efficient collaboration and code management. This project represents a combination of all these skills, allowing me to grow as a developer and continue exploring the exciting world of technology.
      </p>
    </div>
  </section>
  